<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>Smart Inventory</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
       SmartInventory 
    </a>
  </div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-12 mt-5 mb-5">
			<h2>Adicionar Produto</h2>
			<form method="post" th:action="@{/add}">
            	<div class="col-12">
            		<label for="nome" class="form-label">Nome:</label>
		 			<input type="text" class="form-control" name="nome">
                </div>
                <div class="col-12">
                	<label class="form-label">Descrição:</label>
                	<input class="form-control" name="descricao"></input> 
                </div>
                <div class="col-12 mt-3">
                	<button th:type="submit" class="btn btn-primary">Adicionar</button>                   
                </div>
            </form>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<table id="table-products">
			            <thead>
				            <th>ID</th>
				            <th>Nome</th>
				            <th>Descrição</th>
				            <th></th>
				            <th></th>
			            </thead>
			            <tbody>
			            <tr th:each="produto : ${produtos}">
			            	<td th:text="${produto.id}"></td>
			                <td th:text="${produto.nome}"></td>
			                <td th:text="${produto.descricao}"></td>
			                <td>
			                	<form method="post" th:action="@{/delete}">
					                <input th:type="hidden" th:value="${produto.id}" name="id">
					                <button th:type="submit" class="btn btn-danger">Deletar</button>
            					</form>
			                </td>
			            </tr>
			            </tbody>
			</table>
		</div>
	</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>